body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  color: #333;
}
/* Header & Nav */
header {
  background: #112e4f;
  padding: 15px;
}
.logo {
  display: inline-block;
  margin: 0;
  color: white;
  font-size: 24px;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav a:hover, nav a.active {
  text-decoration: underline;
  color: #222;
}

/* Hero */
.hero {
  background: url("bg.jpg") no-repeat center/cover;
  text-align: center;
  color: white;
  padding: 200px 20px;
  
}
.hero h2 {
  font-size: 40px;
 
}
/* Destinations */
.destinations {
  text-align: center;
  padding: 50px 20px;
}
.card {
  display: inline-block;
  width: 350px;
  margin: 65px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}
.card img:hover {
  opacity: 0.85;
}
.card h3 {
  margin: 10px 0;
}
.card p {
  padding: 0 10px 15px;
}

/* About */
.about-hero {
    background-image: url('bg.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    min-height: 300px; /* Adjust as needed */
}

.about-hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 1.2em;
}

.about-content {
    padding: 50px;
    overflow: hidden; /* Clear floats */
    text-align: center; /* Center align the blocks */
}
/* Contact */
/* Contact */
.contact {
  padding: 40px 20px;
}
.contact form {
  background: white;
  padding: 30px;
  border-radius: 40px;
  width: 950px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

}
.contact button {
  background: #072e41;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}
.contact button:hover {
  background: #0d2340 ;
  transform: translateY(-2px);
}
.contact button:active {
  transform: translateY(0);
}
